* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
  margin: 0;
}

.ponto {
  color: #ffbb00;
}

img:not(.contato-flex img) {
  display: block;
  max-width: 100%;
}

.titulo-grande {
  font-size: 4.5rem;
}

.titulo-grande,
.titulo-medio,
.titulo-pequeno,
p {
  margin: 0;
  padding: 0;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  padding: 20px 30px;
  border: none;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  background: linear-gradient(#ffbf00, #f2a50c);
  cursor: pointer;
  color: #111;
}

.btn:hover {
  background: #db950a;
}

.titulo-medio {
  font-size: 3.8rem;
}

.titulo-pequeno {
  font-size: 1.8rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

input,
textarea {
  outline: none;
}

a:visited {
  text-decoration: none;
}
