.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  place-content: center;
  margin: 0 auto;
  gap: 20px;
}

.introducao {
  display: grid;
  gap: 20px;
  place-self: center;
  position: relative;
}

.intro-area {
  box-shadow: inset 0px -30px #ffff;
}

.btn {
  place-self: start;
  background-color: #ffbb00;
  color: #0e0d0dfb;
}

.btn:hover {
  background-color: #fbb903e7;
}

.titulo-grande {
  color: #ffff;
}

.introducao p {
  color: #9a9a8d;
  font-size: 1.4rem;
}

.introducao::before {
  position: absolute;
  content: url("./img/detalhes/bottom-left.svg");
  top: 370px;
  left: -100px;
}

section {
  margin: 0 auto;
}
