.orcamento-area {
  background: linear-gradient(
    0deg,
    rgba(255, 253, 253, 1) 40%,
    rgba(17, 17, 17, 1) 40%
  );
  padding-bottom: 60px;
}

.orcamento {
  display: grid;
  grid-template-columns: 4fr 7fr;
  justify-items: start;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.orcamento label {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.orcamento h2 {
  position: relative;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  grid-column: 1 / -1;
  margin-bottom: 10px;
}

.orcamento h2,
.valor {
  font: 400 0.85rem/1.35 "Poppins", sans-serif;
}

.orcamento h2::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 4px;
  height: 6px;
  background-color: #ffbb00;
  left: -10px;
}

.orcamento-produto {
  background-color: black;
  border-radius: 5px 0 0 5px;
  padding: 32px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 20px;
}

.orcamento-produto > * {
  grid-column: 1/-1;
}

.orcamento-produto > label {
  grid-column: initial;
}

.orcamento-produto input:focus {
  border: 1px solid #ffbb00;
}

.orcamento-produto h2 {
  color: #fff;
}

.orcamento-produto label {
  background: #2e2e2e;
  padding: 12px 16px;
  color: #ffff;
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr auto;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  display: flex;
  gap: 5px;
}

.orcamento-produto label:hover {
  background-color: #404040;
  border-color: #404040;
}

.orcamento-produto input:checked + label {
  background: #ffffff;
  color: #111111;
}

.orcamento-produto label::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #2e2e2e;
  border: 1px solid #fff;
}

.orcamento-produto input:checked + label::before {
  background-color: #ffbb00;
}

.orcamento-produto input {
  display: none;
  pointer-events: none;
}

.orcamento-opt {
  display: flex;
  gap: 20px;
}

#bikcraft:checked ~ #orcamento-bikcraft,
#seguro:checked ~ #orcamento-seguro {
  display: grid;
  gap: 5px;
}

.orcamento-opt label {
  width: 100%;
}

.orcamento-detalhes {
  background-color: #fff;
  border-radius: 4px;
  padding: 12px;
  display: none;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 10px;
}

.orcamento-detalhes li img {
  width: 16px;
}

.orcamento-detalhes h2 {
  font-weight: normal;
  font-size: 0.8rem;
  margin: 0;
}

.orcamento-detalhes li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.orcamento-detalhes h3 {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  font-weight: normal;
}

.detalhes-foto img {
  border-radius: 4px;
}

.informacoes-cliente {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #fff;
  width: 100%;
  padding: 32px 64px;
  border-radius: 0 4px 4px 0;
}

.informacoes-cliente input {
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid rgb(238, 233, 233);
  background-color: #f7f7f7;
}

.informacoes-cliente input:focus {
  border: 1px solid #ffbb00;
}

.informacoes-cliente h2 {
  grid-column: 1 / -1;
  width: 100%;
}

.informacoes-cliente button {
  place-self: start;
  margin-top: 10px;
}

.col-2 {
  grid-column: 1 / -1;
}

.orcamento-conteudo {
  display: none;
}

.orcamento-conteudo label {
  display: grid;
  align-items: center;
}

.orcamento-conteudo label span {
  display: none;
}

.orcamento-produto input:checked + label span {
  display: inline-block;
}

.orcamento-produto input:checked + label + .orcamento-detalhes {
  display: grid;
}

/* seletor adjacente: em orcamento-produto, quando o input estiver checked, pega o label posterior e a div orcamento-detalhes (com as infos e foto da bike)*/
