.titulo-bg {
  background-color: #111111;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bicicletas-bg {
  background-color: #fff;
}

.bicicletas-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 35px;
  padding: 30px;
  position: relative;
  padding-bottom: 80px;
}

.bicicletas-grid h3 {
  font-size: 2rem;
}

.bicicletas-grid h3::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  margin-bottom: 10px;
  background-color: #ffbb00;
}

.bicicletas-grid picture {
  max-width: 100%;
  object-fit: cover;
}

.bicicletas-grid picture img {
  border-radius: 5px;
}

.bicicletas-grid h3,
p,
ul {
  padding: 0;
  margin: 0;
}

.beneficios-lista li {
  display: flex;
  gap: 10px;
  padding: 0px;
  margin: 10px;
  align-items: center;
}

.beneficios-lista h4 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  color: #5b626f;
}

.beneficios-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.beneficios-area a {
  place-self: end;
}

.preco {
  border-radius: 2px;
  position: absolute;
  top: 360px;
  left: 666px;
  background: black;
  color: white;
  padding: 10px;
  font-size: 1rem;
  z-index: 1;
}

.bicicletas-lista p {
  font-size: 1rem;
  color: #5b626f;
  line-height: 1.8rem;
}

.titulo-apresentacao {
  position: relative;
  padding-bottom: 50px;
  padding-top: 50px;
}

.principal::after {
  position: absolute;
  content: url("/img/detalhes/top-right.svg");
  top: 70px;
  right: 20px;
}

.bicicletas-grid::after {
  position: absolute;
  content: url("/img/detalhes/top-right.svg");
  top: 25px;
  right: 20px;
}

picture {
  display: grid;
}

picture img {
  grid-area: 1 / 1;
}

picture span {
  grid-area: 1 / 1;
  display: inline-block;
  z-index: 1;
  place-self: start end;
  margin-top: 20px;
  color: #fff;
  background-color: black;
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0px 0px 4px;
}

.bicicletas-bg:nth-child(3) {
  background: rgb(255, 253, 253);
  background: linear-gradient(
    90deg,
    rgba(255, 253, 253, 1) 25%,
    rgba(0, 0, 0, 1) 25%
  );
}

.bicicletas-bg:nth-child(3) h3 {
  color: #fff;
}
