.seguros-area {
  padding-top: 60px;
}

.seguros .titulo-bg {
  margin-bottom: 50px;
}

.lista-vantagens {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  justify-items: start;
  margin-bottom: 30px;
}

.lista-vantagens li {
  color: #ffff;
}

.lista-vantagens h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 1.4rem;
}

.lista-vantagens p {
  font-size: 1rem;
  color: #b2b2b2;
}

.faq {
  background-color: #ffff;
  padding-bottom: 45px;
}

.faq .titulo-grande {
  color: #111;
}

.faq .titulo-apresentacao {
  padding-bottom: 35px;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background: none;
  border-radius: 5px;
}

.accordion-header img {
  transform: rotate(180deg);
  transition: all 0.5s ease-in-out;
}

.accordion.active img {
  transform: rotate(360deg);
  transition: all 0.5s ease-in-out;
}

.filter-yellow {
  filter: invert(69%) sepia(93%) saturate(1716%) hue-rotate(0deg)
    brightness(102%) contrast(109%);
}

.accordion-header strong {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.accordion-header strong::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 5px;
  background-color: #ffbb00;
  margin-right: 5px;
}

div.accordion:nth-child(even) {
  background-color: #f7f7f7;
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  max-width: 90%;
  /* padding: 8px 20px; */
}

.accordion-body .p-accordion {
  padding: 8px 37px;
}

.accordion.active .accordion-body {
  font-size: 1rem;
  max-height: 8rem;
  transition: all 0.5s ease-in-out;
}
